nav{
    margin: auto;
    background-color: #c95f32;
    padding: 0 20px 20px 20px;
    box-shadow: inset;
  }
footer
{
    margin: 0 auto;
    background-color: #c95f32;
    padding: 0 20px 20px 20px;
    box-shadow: inset;

}
p, a, h2{
    color: #c95f32;
}
span{
    color: #fbdede;
}
h1{
    color: #c95f32;
    font-size: 36px;
}
h5{
    color: #fbdede;
    font-size: 15px;
}
h4{
    color: #fbdede;
    font-size: 22px;
}
