nav{
    margin: auto;
    background-color: #c95f32;
    padding: 0 20px 20px 20px;
    box-shadow: inset;
    
  }
footer
{
    margin: 0 auto;
    background-color: #c95f32;
    padding: 0 20px 20px 20px;
    box-shadow: inset;

}
 a, h2{
    color: #c95f32;
}
p{
    color: #c95f32;
    font-size: 14px; 
}
span{
    color: #fbdede;
}
h1{
    color: #c95f32;
    font-size: 36px;
}
h5{
    color: #fbdede;
    font-size: 15px;
}
h4{
    color: #fbdede;
    font-size: 20px;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('img/45.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
.sidenav{
   width: 200px;
}
blockquote{
    color: #c95f32;
}


