nav{
    margin: auto;
    background-color: #c95f32;
    padding: 0 20px 20px 20px;
    box-shadow: inset;
    
  }
footer
{
    margin: 0 auto;
    background-color: #c95f32;
    padding: 0 20px 20px 20px;
    box-shadow: inset;

}
 a, h2{
    color: #c95f32;
}
p{
    color: #c95f32;
    font-size: 14px; 
}
span{
    color: #fbdede;
}
h1{
    color: #c95f32;
    font-size: 36px;
}
h5{
    color: #fbdede;
    font-size: 23px;
}
h4,h6{
    color: #fbdede;
    font-size: 20px;
}
.sidenav{
   width: 200px;
}
blockquote, #Modal{
    color: #c95f32;
}
.modal{
    background-color: #c95f32;
    width: min-content;   
}
#btnModal{
    background-color: #fbdede;
    color: #c95f32;
    font-size: 15px;
}



